<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p id="content"></p>
<script type="text/javascript">
  fetch('/api/poll', {
    method: 'GET',
    headers: { 'Content-Type': 'application/json' }
  }).then(function (response) {
    if (response.status === 200) {
      response.json().then(function (res) {
        console.log(res);
        document.getElementById('content').innerHTML = JSON.stringify(res);
      });
    } else {
      console.error(response.statusText)
    }
  }).catch(function (error) {
    console.error(error)
    setMessage('Could not authenticate');
  });
</script>
</body>
</html>
